<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Optional -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Added by Sekret, not used -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/xposed_description"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pcs"
        android:name=".PcsApplication">

        <activity android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Allows instant checking of whether Xposed module is enabled, by running in a new process -->
        <provider
            android:authorities="${applicationId}.xposedstate"
            android:name=".providers.XposedStateProvider"
            android:process=":xposed"
            android:exported="false" />

        <!-- Caller enforced in provider -->
        <provider
            android:authorities="${applicationId}.config"
            android:name=".providers.ConfigProvider"
            android:process=":config"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <!-- Caller enforced in provider -->
        <provider
            android:authorities="${applicationId}.settings.phone"
            android:name=".providers.PhoneSettingsProvider"
            android:process=":settings"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="90" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

    </application>

    <queries>
        <package android:name="com.google.android.tts"/>
        <package android:name="com.google.android.apps.pixel.psi"/>
        <package android:name="com.google.android.apps.pixel.agent"/>
        <package android:name="com.google.android.dialer"/>
        <package android:name="com.google.android.as"/>
        <package android:name="com.google.android.aicore"/>
    </queries>

</manifest>